# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual Environment
.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
tfplan

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Coverage
.coverage
htmlcov/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/